.App {
  font-family: sans-serif;
  margin: 10px;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 92%;
  margin: auto;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.usersblogs{
  display:flex;
  justify-content: space-evenly;
}
.users{
  width:25% ;
}
.blogs{
  width: 65%;
}
.users div{
  width:100%;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
  margin:  5px auto;
}
.blogs button {
  width:100%;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
  margin: 5px auto;
}
.blogs button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.singleblog{
  margin: auto;
  align-content: center;
  align-items: center;
}
.search{
   display: inline-flex;
   justify-content: space-around;
   align-items: center;
  padding: 10px 15px;
  margin: 10px 10px;
  width:92%;
}
.search input{
  width:20px;
  margin: 0%;
  padding: 0%;
}
dt{
  width:100%;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
  margin: 5px auto;
}